.preferencesPage {
  height: 100%;
  padding: 10px;
}

.preferencesInfo{
  height: 150px;
}

.preferencesContainer {
  width: 400px;
  height: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

div.preferences{
  background-color: rgb(29, 141, 176, 0.1);
  margin: 5px;
  margin-left: 0px;
  padding: 5px;
  padding-left: 10px;
  border-color: rgb(29, 141, 176);
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;
}

label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.btn-pref{
  position: static;
  bottom: 5px;
  right: 0px;
  border-radius: 3px;
  border-color: rgb(29, 141, 176);
  background-color: rgb(29, 141, 176);
  color: white;
  margin-top: 20px;
  margin-right: 10px;
}

.bookmarksInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 10px;
}