.mpt{
    color: aliceblue;
    position: absolute;
    left: 120px;
}
/*NAVIGATIE CONTENT*/
nav{
    background-color: rgb(29, 141, 176);
    height: 80px;
}
  .nav-item{
    background-color: rgb(22, 122, 153);
    color: rgb(0, 0, 0);   
  }
  .kuleuven-logo {
    width: 100px;
    position: absolute;
    left: 10px;
  }
  .navbar-nav{
    position: absolute;
    right: 100px;
    top: 30%;
  }
  .div-login, .div-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
/*LOGIN CONTENT*/
  .login-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.btn-login{
    border-radius: 12px;
    background-color: rgb(98, 185, 211);
    color:rgba(255, 255, 255, 0.842);
    margin: 15px;
    position: absolute;
    right: 10px;
}
.form-login{
  margin: 5px;
  display: grid;
  justify-content:flex-start;
}
.div-login, .div-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.login-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  min-width: 200px;
}
.btn-login-2{
  position: relative;
  border-radius: 12px;
  background-color: rgb(98, 185, 211);
  color:rgba(255, 255, 255, 0.842);
  margin: 15px;
}
.btn-user{
  position: absolute;
  right: 10px;
  border-radius: 12px;
  background-color: rgb(98, 185, 211);
  color:rgba(255, 255, 255, 0.842);
  margin: 15px;
}
.btn-logout{
  position: relative;
  left: 12px;
  border-radius: 12px;
  background-color: rgb(98, 185, 211);
  color:rgba(255, 255, 255, 0.842);
  margin: 10px;
}
.div-login{
  background-color: #414040;
}
.btn-register{
  position: relative;
  left: 20px;
  width: 136.4px;
  border-radius: 12px;
  background-color: rgb(98, 185, 211);
  color:rgba(255, 255, 255, 0.842);
}
/*REGISTER CONTENT*/
.register-content {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  min-height: 400px;
  min-width: 238px;
}
.btn-exit{
  position:absolute;
  left: 190px;
  top:0px;
  font-size: 25px;
  margin: 5px;
  background-color: #f1f1f1;
  border:none;
  border-radius: 8px;
  transition-duration: 0.4s;
  color:rgb(255, 0, 0)
}
.btn-exit:hover{
  background-color: rgba(150, 149, 149, 0.726);
  border-radius: 8px;
}
.p-register{
  position: relative;
  left: 17px;
}
/*USER CONTENT*/
.userInfo{
  position: absolute;
  right: 0px;
  background:rgba(221, 221, 221, 0.792);
  padding: 14px 28px;
  border-style: groove;
  border-radius: 3px;
  min-width: 250px;
  border-width: 3px;
}
/*LIST*/
.dl-read{
  margin: 10px;
  padding: 10px 10px;
  max-width: 500px;
  min-height: 238px;
  border-style: groove;
  border-radius: 8px;
  border-width: 3px;
  background-color: rgb(193, 193, 193);
  border-color: rgb(108, 107, 107);
}
.dl-edit{
  margin: 10px;
  padding: 10px 28px;
  max-width: 500px;
  min-height: 238px;
  border-style: groove;
  border-radius: 8px;
  border-width: 3px;
  border-color: rgb(108, 107, 107);
  background-color: rgb(193, 193, 193);
}

.btn-edit{
  margin: 5px;
  position: relative;
  top:25px;
  right: 25px;
  background-color: rgb(193, 193, 193);
  border:none;
  border-radius: 8px;
  font-size: 25px;
  transition-duration: 0.4s;
  color: rgb(46, 161, 255);
}
.btn-edit:hover{
  background-color: rgba(150, 149, 149, 0.726);
  border-radius: 8px;
}
.btn-delete{
  position:relative;
  left: 385px;
  top:25px;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(193, 193, 193);
  border:none;
  border-radius: 8px;
  transition-duration: 0.4s;
  color:rgb(255, 0, 0)
}
.btn-delete:hover{
  background-color: rgba(150, 149, 149, 0.726);
  border-radius: 8px;
}
.btn-cancel{
  position:relative;
  left: 371px;
  top:21px;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(193, 193, 193);
  border:none;
  border-radius: 8px;
  transition-duration: 0.4s;
  color:rgb(255, 0, 0)
}
.btn-cancel:hover{
  background-color: rgba(150, 149, 149, 0.726);
  border-radius: 8px;
}
.btn-save{
  position:relative;
  right: 37px;
  top:21px;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(193, 193, 193);
  color:rgb(23, 255, 23);
  border:none;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.btn-save:hover{
  background-color: rgba(150, 149, 149, 0.726);
  border-radius: 8px;
}
dt{
  margin: 5px;
  padding: 0px;
  font-size: 18px;
}
.dt-read{
  margin: 10px
}
.select-FOS{
  max-width: 220px;
}