.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
button {
    margin: 10px;
    font-size: 15px;
    position: relative;
}
table {
    margin: 20px;
    border-collapse: collapse;
    position: relative;
    table-layout: fixed; 
}

th,
td {
    margin: 10px;
    border: 1px solid #000000;
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

th {
    margin: 10px;
    background-color: rgb(114, 114, 114);
}

td {
    margin: 10px;
    background-color: rgb(190, 190, 190);
}
form{
    margin: 10px;
    gap: 5px;
    left: 0x;
    top: 5px;
    display: grid;
    justify-content:baseline;
    position: relative;
    font-size: 15px;
}