.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  .mpt{
    color: aliceblue;
    position: absolute;
    left: 120px;
  }
  nav{
    background-color: rgb(29, 141, 176);
    height: 80px;
    
  }
  li{
    background-color: rgb(22, 122, 153);
    color: rgb(0, 0, 0);
      
  }
  .kuleuven-logo {
    width: 100px;
    position: absolute;
    left: 10px;
  }
  ul{
    position: absolute;
    right: 100px;
    top: 30%;
  }
  .div-login, .div-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.div-overlay{
  background: rgba(49,49,49,0.8);
}
  .login-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.btn-login{
  position: absolute;
  right: 10px;
  top: 0px;
}
.btn-login-2{
  position: relative;
  border-radius: 12px;
  background-color: rgb(98, 185, 211);
  color:rgba(255, 255, 255, 0.842);
  margin: 15px;
}
.btn-logout{
  position: absolute;
  right: 10px;
  top: 35px;
  border-radius: 12px;
  background-color: rgb(98, 185, 211);
  color:rgba(255, 255, 255, 0.842);
  margin: 15px;
}