.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
button {
    margin: 10px;
    font-size: 28px;
}

table {
    border-collapse: collapse;
    width: 90%;
    position: absolute;
    left: 20px;
    top: 90px;
    
}

th,
td {
    border: 1px solid #000000;
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

th {
    background-color: rgb(114, 114, 114);
}

td {
    background-color: rgb(190, 190, 190);
}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 15px;
}